# Docker image
GHCR_OWNER=voyager003
IMAGE_TAG=latest

# App
PORT=3000
NODE_ENV=production
APP_CORS_ORIGINS=https://learniverse.vercel.app,https://www.learniverse.com
API_DOMAIN=api.example.com
LETSENCRYPT_EMAIL=you@example.com

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change_me
DB_DATABASE=learniverse

# MongoDB
MONGODB_URI=mongodb://mongodb:27017/learniverse

# JWT
JWT_SECRET=change_me
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me
JWT_REFRESH_EXPIRES_IN=7d
